

// colors

/* rose */
$c1: #F41F61;
/* bleu */
$c2: #191163;
/* cyan */
$c3: #15eded;
/* mauve */
$c4: #6433BB;

/*users*/
$u1: #F41F61;
$u2: #ba1283;
$u3: #EFE583;
$u4: #22d1e5;
$u5: #611484;
$u6: #B48684;
$u7: #2532C8;
$u8: #d6771d;

$lighter:rgba(255,255,255,.3);
$darker: rgba(0,0,0,0.4);

$c1a:rgba(236, 0, 102, 1);
$c1b:rgba(236, 0, 102, .85);
$c1c:rgba(236, 0, 102, .7);

$c2a:rgba(16, 10, 66, 1);
$c2b:rgba(16, 10, 66, .75);
$c2c:rgba(16, 10, 66, .5);

$c3a:rgba(21, 237, 237, 1);
$c3b:rgba(21, 237, 237, .6);
$c3c:rgba(21, 237, 237, .3);


// Body
$body-bg: $c2;

// Brands
$brand-primary: #6433BB;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: white;

// Buttons
$btn-default-color: $c2;