
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700,900);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html,body, #sidebar{
  margin:0;
  padding:0;
}

body{
  background-color:$c2;
  background-image: url('../images/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#app{
  display: flex;
  height:100%;
  flex-direction: column;
  justify-content: space-between;
}

.top-navbar{
  margin:0;
  background-color: rgba(0,0,0,0.9);
  padding:5px;
  font-size: 0.8em;
}
.top-navbar > div:first-child{
  float:left;
}
.top-navbar > div:nth-child(2){
  float:right;
}

.content{
  height:100%;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: row;
}

.column{
  height: 100%;
  overflow: auto;
}

.column-center{
  width:100%;
  position:relative;
}

.column-right{
}

.column-left, .column-right{
  background-color:$darker;

  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: column;

  width:20%;
  padding-bottom:20px;

  overflow-x: hidden;
  min-width: 180px;
}

header h1, header h3, header form{
  padding-left:10px;
}

#toggle_nav{
  float:right;
  display:none;
}

#chatDisplayMessages{
  overflow: auto;
}

header > nav{
  height: 100%;
  min-height: 150px;

  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}

nav > ul{
  height: 100%;
  overflow-y: auto;
}

#container{
  width:85%;
  margin:auto;
}

@media screen and (max-width: 1000px) {
  .content{
    flex-direction: column;
  }
  #app{
    height: initial;
  }

  .column{
    padding:10px;
  }
  #toggle_nav{
    display:initial;
  }
  .hideable, hr, #toggle_chat{
    display:none;
  }

  #container, .column-left, .column-right {
    width:100%;
  }

  .column-right{
    max-height:400px;
  }
  header h1{
    float:left;
  }

  nav{
    min-height:0px;
  }

  .nav>li {
    float: left;
  }
}

/*****
Main
*****/

.projecthead{
  padding-top:50px;
  padding-bottom:50px;
}

.projecthead > h1{
  float:left;
  padding:0;
  margin:0;
}

.projecthead .img-circle{
  width:50px;
  height:50px;
  float:right;
  margin-left:15px;
  border: 4px solid;
}

table{
  background-color:#1b1b1b;
  overflow-x: auto;
  width:100%;
}

table tr td{
  overflow: hidden;
}

table tr{
  border-bottom: 1px solid black;
}

.line{
  border-bottom: 1px solid $c3;
}


td.track_header{
  border-bottom-width: 1px;
  border-right-width: 1px;
  width: 100px;
  /* empèche la cellule de s'aggrandir verticalement */
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.track_header:hover{
  /*
  width:200px;
  */
}


table .lineuser1 .track_header{
  border-left: 6px solid $u1;
}

table .lineuser2 td:first-child{
  border-left: 6px solid $u2;
}

table .lineuser3 td:first-child{
  border-left: 6px solid $u3;
}

.barline, .line{
  position: relative;
}

.note{
  background-color: $c1b;
  border-right: 4px solid $darker;
  min-height: 100%;
  position: absolute;
  top: 0;
}
.note:hover{
  background-color: $c1a;
}
.note:active{
  background-color:$c1c;
}


.gridbar{
  position: absolute;
  top: 0;
  left: 0%;
  width: 1px;
}

.gridbar4{
  background-color: $c3a;
}

.gridbar8{
  background-color: $c3b;
}

.gridbar32{
  background-color: $c3c;
}

#timebar{
  z-index: 1;
  background-color: black;
}

.barline{
  overflow: visible;
}

.track_header{
  padding:4px;
}




/****
Divers
*****/



.btn-primary{
  border:none;
}

a{
  color:white;
}

.btn {
  border-radius:0;
  min-height: 32px;
}

.active{
  font-weight: bold;
  background-color:$darker;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color:$darker;
  color:white;
}

.btn:hover,.btn:active:hover,.btn:active:focus, .btn:focus{
  background-color:#361b64;
  border-color:#361b64;
  color:white;
  border:none;
}

.chatMessage{
  font-size:small;
  border-left:4px solid;
  padding:5px;
}

p.sender{
  font-size: smaller;
  font-weight: bold;
  margin: 0;
}

p.message{
  margin:0;
}

#toggle_chat{
  position: absolute;
  right: 0;
  top: 0;
  font-size: small;
  padding: 0 3px;
  background-color: $darker;
  cursor:pointer;
}

#toggle_nav{
  background-color: $darker;
}

#box, .column{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5)
}

#box > div{
  overflow: auto;
}

.form-control{
  background-color: $darker;
  border-radius:0;
  color:white;
  border-color:white;
}

.form-control:focus {
  border-color: #ffffff;
}

input, button{
  color: #555;
}

input[type="text"]:disabled{
  background-color: black;
}