:root{
	/* rose */
	--c1: #ec0066;
	/* bleu */
	--c2: #100a42;
	/* cyan */
	--c3: #15eded; 
	/*users*/
	--u1: #c88ae8;
	--u2: #ffd81f;
	--u3: #5cbef7;
	
	--lighter:rgba(255,255,255,.3);
	--darker:rgba(0,0,0,.4);
	
	--c1a:rgba(236, 0, 102, 1);
	--c1b:rgba(236, 0, 102, .85);
	--c1c:rgba(236, 0, 102, .7);
	
	--c2a:rgba(16, 10, 66, 1);
	--c2b:rgba(16, 10, 66, .75);
	--c2c:rgba(16, 10, 66, .5);
	
	--c3a:rgba(21, 237, 237, 1);
	--c3b:rgba(21, 237, 237, .75);
	--c3c:rgba(21, 237, 237, .5);
}

.btn-primary{
	background-color:var(--c1);
	border:none;
}

a{
	color:white;
}

html,body, .container, #sidebar{
	margin:0;
	padding:0;
}

body{
	height:100vh;
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
	font-family: 'Raleway', sans-serif;
	
	color:white;	
	background-color:var(--c2);	
	background: linear-gradient(10deg,var(--c2),var(--c1));
	
	background-image: url(bg2.jpg);
	background-size:cover;
}

h1{
	margin:0;padding:0;
}

header h1{
	font-family: 'Lobster', cursive;
	padding-top:10px;
}

header h1, header h3, header form{
	padding-left:10px;
}

#toggle_nav{
	float:right;
	display:none;
}

.column{
    height: 100%;
	/*
	float: left;
	*/
    overflow: auto;
}

.column-left{
	/*
	padding:10px 0 0 10px;
	*/
}

.column-center{
	width:100%;
	position:relative;
}

.column-right{
}

.column-left, .column-right{
	background-color:var(--darker);
	
	
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: column;
	
	width:20%;
	padding-bottom:20px;
	
	overflow-x: hidden;
	min-width: 180px;
}

#chatDisplayMessages{
    overflow: auto;
}

nav{
	height: 100%;
	min-height: 150px;
	
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: column;
}

nav > ul{
    height: 100%;
    overflow-y: auto;
}


#container{
	width:85%;
	margin:auto;
}

@media screen and (max-width: 1000px) {
	body{
		height: initial;
		flex-direction: column;
	}
	.column{
		padding:10px;
	}
	#toggle_nav{
		display:initial;
	}
	.hideable, hr, #toggle_chat{
		display:none;
	}
	
    #container, .column-left, .column-right {
		width:100%;
    }
	
	.column-right{
		max-height:400px;
	}
	header h1{
		float:left;
	}
	
	nav{
		min-height:0px;
	}
	
	.nav>li {
		float: left;
	}
}

/*****
Main
*****/

.projecthead{
	padding-top:50px;
	padding-bottom:50px;
}

.projecthead > h1{
	float:left;
	padding:0;
	margin:0;
}

.projecthead .img-circle{
	width:50px;
	height:50px;
	float:right;
	margin-left:15px;
	border: 4px solid;
}

table{
	background-color:var(--darker);
	overflow-x: auto;
	width:100%;
}

table tr td{
	overflow: hidden;
}

table tr{
	border-bottom: 1px solid black;
}

.line{
	border-bottom: 1px solid var(--c3);
}


td.samplename{
	border-bottom-width: 1px;
	border-right-width: 1px;
    width: 100px;
}

td.samplename:hover{
	/*
	width:200px;
	*/
}


table .lineuser1 .samplename{
	background-color:var(--u1);
}

table .lineuser2 td:first-child{
	background-color:var(--u2);
}

table .lineuser3 td:first-child{
	background-color:var(--u3);
}

.barline, .line{
    position: relative;
}

.note{
	background-color:var(--c1b);
	border-right: 4px solid var(--darker);
    min-height: 100%;
	position: absolute;
    top: 0;
	
	cursor:pointer;/* col-resize */
}
.note:hover{
	background-color:var(--c1a);
}
.note:active{
	background-color:var(--c1c);
}

.gridbar{
    position: absolute;
    top: 0;
    left: 0%;
    width: 1px;
}

.gridbar4{
    background-color: var(--c3a);
}

.gridbar8{
    background-color: var(--c3b);
}

.gridbar32{
    background-color: var(--c3c);
}

#timebar{
    z-index: 1;
    background-color: black;
}

.barline{
    overflow: visible;
}

.samplename{
	padding:4px;
}




/****
Divers
*****/

.btn{
	border-radius:0;
	min-height: 32px;
}

.active{
	font-weight: bold;
	background-color:var(--darker);
}
.nav>li>a:focus, .nav>li>a:hover, .btn:hover, .btn:focus{
	background-color:white;
	color:var(--c2);
}

.chatMessage{
	font-size:small;
	border-left:4px solid;
	padding:5px;
}

p.sender{
	font-size: smaller;
    font-weight: bold;
    margin: 0;
}

p.message{
	margin:0;
}

#toggle_chat{
    position: absolute;
    right: 0;
    top: 0;
    font-size: small;
    padding: 0 3px;
    background-color: var(--darker);
	cursor:pointer;
}

#toggle_nav{
    background-color: var(--darker);
}

#box, .column{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5)
}

#box > div{
	overflow: auto;
}

.form-control{
	background-color: var(--darker);
	border-radius:0;
	color:white;
	border-color:white;
}