html,body, .container, #sidebar{
	margin:0;
	padding:0;
}

body{
	height:100vh;
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
}

.column{
	float: left;
    height: 100%;
	/*
    overflow: auto;
	*/
}

.column-left{
	padding-left:10px;
}

.column-center{
	width:100%;
	position:relative;
}

.column-right{
	
}

.column-left, .column-right{
	
	background-color:#fafafa;
	
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: column;
	
	width:20%;
	padding-bottom:20px;
}

nav, #chatDisplayMessages{
    overflow: auto;
}

nav{
	height: 100%;
}


#container{
	width:85%;
	margin:auto;
}

@media screen and (max-width: 1000px) {
	body{
		height: initial;
		flex-direction: column;
	}
	.column{
		height: initial;
		padding:10px;
	}
	
	#container{
		width:100%;
	}
	
    .column-left, .column-right {
		max-height:400px;
		width:100%;
    }
	
	.nav>li {
		float: left;
	}
	
	hr{display:none;}

}

/*****
Main
*****/

.projecthead{
	padding-top:50px;
	padding-bottom:50px;
}

.projecthead > h1{
	float:left;
	padding:0;
	margin:0;
}

.projecthead .img-circle{
	width:50px;
	height:50px;
	float:right;
	margin-left:15px;
	border: 4px solid;
}

.box > div{
	
	background-color:#fafafa;
	overflow-x: auto;
	
}

table{
	width:100%;
}

table tr td:first-child{
	border-bottom: 1px solid #fff;
	border-right: 1px solid #666;
    width: 100px;
}

table tr td{
	border-bottom: 1px solid #ccc;
	/*
	padding:4px;
	*/
	overflow: hidden;
}


table .lineuser1 .samplename{
	background-color:rgba(255,235,59,.7);
}

table .lineuser2 td:first-child{
	background-color:rgba(255,152,0,.7);
}

table .lineuser3 td:first-child{
	background-color:rgba(139,195,74,.7);
}

.line{
    position: relative;
}

.note{
	background-color:rgba(240, 32, 32, 0.9);
	border-right: 4px solid rgba(0, 0, 0, 0.3);
    min-height: 100%;
	position: absolute;
    top: 0;
	
	cursor:pointer;/* col-resize */
	
}

.gridbar{
	min-height: 100px;
    position: absolute;
    top: 0;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 1px;
}

#timebar{
    z-index: 1;
    background-color: black;
}

.barline{
    overflow: visible;
}

.samplename{
	padding:4px;
}




/****
Divers
*****/

.btn-primary{
	border-radius:0	
}

.active{
	font-weight: bold;
	background-color:rgba(0,0,0,0.1);
	background-color:white;
}

.chatMessage{
	font-size:small;
	border-left:4px solid;
	padding:5px;
}

p.sender{
	font-size: smaller;
    font-weight: bold;
    margin: 0;
}

p.message{
	margin:0;
}

#toggle_chat{
    position: absolute;
    right: 0;
    top: 0;
    font-size: small;
    padding: 0 3px;
    background-color: #ccc;
	cursor:pointer;
}