<li class="note">
    pos:<input class="note_pos" type="number" value="{{pos}}">,
    len:<input class="note_len" type="number" value="{{len}}">
    <button class="removenote">remove note</button>
</li>
