<p>tempo : <input id="tempo" class="form-control" min="20" max="300" type="number" value="{{tempo}}"></p>

<p>
    <span class="btnPausePlay" style="cursor:pointer"><img alt="play" src="../images/playButton.png"/></span>
    <span class="btnPausePlay" style="cursor:pointer;display:none"><img alt="play" src="../images/stopButton.png"/></span>
    <span id="btnZoom" style="cursor:pointer"><img alt="zoom" src="../images/zoomButton.png" /></span>
    <span id="btnLock" style="cursor:pointer"><img alt="lock" src="../images/lockCloseButton.png" /></span>
</p>
<div id="box">
    <div>
        <table id="grid">
            <tr>
                <td></td>
                <td class="barline">
                    <div id="timebar" class="gridbar"></div>
                </td>
            </tr>
            {{#each tracks }}
                {{> track }}
            {{/each }}
        </table>
    </div>
    <input type="hidden" id="samplename">
    <input type="hidden" id="sampleurl" value="samples/native/kick1.wav">
    <button class="btn btn-primary" style="width:100%;"  data-toggle="modal" data-target="#myModal">Ajouter une ligne</button>
</div>