<p>tempo : <input id="tempo" class="form-control" min="20" max="300" type="number" value="{{tempo}}"></p>
<input id="nbMesures" value="{{nbMesures}}" type="hidden" >
<p>
    <img title="play" class="btnPausePlay img-btn" alt="play" src="../images/playButton.png"/>
    <img title="stop" class="btnPausePlay img-btn" alt="stop" src="../images/stopButton.png" style="display:none" />
    <img title="zoom in" class="btnZoomOut img-btn" src="../images/zoomOutButton.png" />
    <img title="zoom out" class="btnZoomIn img-btn" src="../images/zoomInButton.png" />
    <img title="duplicate sequence" class="btnDuplicate img-btn" alt="duplicate" src="../images/duplicateButton.png" />
</p>
<div id="box">
    <div>
        <table id="grid">
            <tr>
                <td></td>
                <td class="barline">
                    <div id="timebar" class="gridbar"></div>
                </td>
            </tr>
            {{#each tracks }}
                {{> track }}
            {{/each }}
        </table>
    </div>
    <input type="hidden" id="samplename">
    <input type="hidden" id="sampleurl" value="samples/native/kick1.wav">
    <button class="btn btn-primary" style="width:100%;"  data-toggle="modal" data-target="#myModal">Ajouter une ligne</button>
</div>