<p>
    tempo : <input id="tempo" class="form-control" min="20" max="300" type="number" value="{{tempo}}">
</p>
<input id="nbMesures" value="{{nbMesures}}" type="hidden" >


<img alt="play button" title="play" class="btnPausePlay img-btn" src="../images/playButton.png"/>
<img alt="stop button" title="stop" class="btnPausePlay img-btn" src="../images/stopButton.png" style="display:none" />
<img alt="zoom out button" title="zoom out" class="btnZoomOut img-btn" src="../images/zoomOutButton.png" />
<img alt="zoom int button" title="zoom in" class="btnZoomIn img-btn" src="../images/zoomInButton.png" />
<span title="divide sequence" class="btnDivide img-btn">&divide;2</span>
<span title="expand clip size" class="btnExpand img-btn">&times;2</span>
<span title="duplicate sequence" class="btnDuplicate img-btn">&times;2<sup>(copy)</sup></span>

<div id="box">
    <div>
        <table id="grid">
            <tr>
                <td></td>
                <td class="barline">
                    <div id="timebar" class="gridbar"></div>
                </td>
            </tr>
            {{#each tracks }}
                {{> track }}
            {{/each }}
        </table>
    </div>
    <input type="hidden" id="samplename">
    <input type="hidden" id="sampleurl" value="samples/native/kick1.wav">
    <button class="btn btn-primary" style="width:100%;"  data-toggle="modal" data-target="#myModal">Add track</button>
</div>

<p>
    <input id="modeMagnetisme" type="checkbox" checked> Turn on grid snap
</p>
