
<tr class="track">
    <td class="track_header" title="{{sample.name}}p">
        <span class="sample_name">{{ sample.name }}</span>
        <span class="remove_track" style="display: none;cursor:pointer">&#10060;</span>
    </td>
    <td class="line" id="line1">
        <audio src="../uploads/{{sample.url}}" data-url="{{sample.url}}" preload="auto"></audio>
        {{#each notes }}
            {{> note }}
        {{/each }}
    </td>
</tr>