
<tr class="track">
    <td class="samplename">{{ sample.name }}</td>
    <td class="line" id="line1">
        <audio src="../uploads/{{sample.url}}" id="audio0" preload="auto"></audio>
        {{#each notes }}
            {{> note }}
        {{/each }}
    </td>
</tr>