
<tr class="track">
    <td class="samplename">{{ sample.name }}</td>
    <td class="line" id="line1">
        <span class="sampleurl" style="display: none">{{ sample.url }}</span>
        <audio src="../uploads/{{sample.url}}" preload="auto"></audio>
        {{#each notes }}
            {{> note }}
        {{/each }}
    </td>
</tr>